#task3 {
	height: 400px;
	width: 800px;
	background-color: aqua;
}

#task5 {
	height: 100px;
	width: 100px;
	background-color: tomato;
	margin: 10px;
	padding: 5px;
	position: absolute;
}

#task6 {
	margin-top: 120px;
}